@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}